.detail-content div div{
    padding-left: 15px;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #c9deef;
}
.detail-content div div{
    border-bottom: none;
}
.detail-content div div{
    border-right: none;
}
.detail-content div:last-child div{
    border-bottom: 1px solid #c9deef;
}
.detail-content div:last-child div:nth-of-type(4){
    border-right: 1px solid #c9deef;
}
.detail-content div div:last-child{
    border-right: 1px solid #c9deef;
}
.reply-pro{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.deny-msg-area{
    padding: 0;
    display: none;
}
.deny-msg{
    height: 34px;
}