.col-sm-content {
    margin-top: 28px;
    margin-bottom: 50px;
    position: relative;
}
.col-sm-4 .body-left {
    width: 292px;
    height: 500px;
    border: 1px solid #E7E7E7;
    background-color: #FDFDFD;
}
.body-left-tit {
    width: 292px;
    height: 39px;
    position: relative;
}
.left-tit-sub.pointer {
    color: rgb(20, 146, 255);
    background-color: rgb(253, 253, 253);
}
.left-tit-sub {
    font-size: 18px;
    line-height: 39px;
    text-align: center;
    cursor: pointer;
    width: 146px;
    height: 39px;
    position: absolute;
    color: rgb(102, 102, 102);
    background-color: rgb(231, 231, 231);
}
.body-left-con .left-sub {
    position: absolute;
    width: 292px;
}
.body-left-con .left-sub:nth-child(2){
    height: 430px;
    overflow-y: auto;
}
.search-btn{
    color: #ffffff !important;
    background-color: #1492ff;
    border-color: #1492ff;
    padding: 4px 5px;
}
.body-right {
    width: 686px;
    /*height: 720px;*/
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(231, 231, 231);
    border-image: initial;
}
.right-heat {
    height: 52px;
    position: relative;
    border-bottom: 1px solid #dddddd;
}
.right-heat-tit {
    display: block;
    height: 52px;
    padding-left: 20px;
    padding-right: 10px;
    float: left;
    font-size: 18px;
    line-height: 50px;
    color: #1492FF;
}
.right-heat-bottom {
    width: 100px;
    position: absolute;
    background-color: #1492FF;
    height: 2px;
    bottom: -1px;
    border-radius: 2px;
}
.right-heat-list {
    width: 685px;
    height: 600px;
    overflow: hidden;
    position: relative;
    /*padding: 20px 0px;*/
}

.depart-item{
    width: 50%;
    height: 35px;
    float: left;
    font-size: 13px;
    line-height: 36px;
    text-align: center;
    color: #666;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.pointer-depart{
    cursor: pointer;
    background-color: rgb(184, 223, 254);
}
.right-heat-list{
    overflow: hidden;
}

.process-list{
    width: 100%;
    height: 55px;
    padding-left: 20px;
    position: relative;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.21);
    cursor: pointer;
}
.li-circle{
    width: 5px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    position: relative;
    top: 18px;
    left: 15px;
    display: inline-block;
}
.process-title{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 15px;
}
.process-heat{
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 20px;
}